* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: darkgray;
    width: 100vw;
    height: 100vh;
}

.nav-slider { /* variables only */
    --slider-item-width: 250px;
    --slider-item-height: 120px;
    --slider-width: calc(var(--slider-item-width) * 1.5 ); /* умножается на 1.5 т.к. элементы будут сдвинуты лесенкой по оси x */
    --slider-height: calc(var(--slider-item-height) * 6); /* 6 - константа количества слайдов */
}

.nav-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--slider-height);
    width: var(--slider-width);
}

.nav-wrapper {
    height: 100%;
    width: 100%;
    touch-action: pan-y;
}

.nav-item {
    will-change: transform;
    position: absolute;
    width: var(--slider-item-width);
    height: var(--slider-item-height);
    display: flex;
    align-items: center;
    padding: 20px 0;
    transition: transform .3s linear;
}
.nav-item__img{
    width: 80px;
    height: 80px;
}
.nav-item__text{
    margin-left: 30px;
    color: white;
}



